@font-face {
  font-family: "primary";
  src: url("/src/app/assets/Montserrat/static/Montserrat-Regular.ttf");
  font-weight: bold;
}

.navbar {
  background-color: #F4EEE5;
}

.nav {
  font-family: "primary";
  color: black;
  gap: 3rem;
  padding-right: 4rem;
}

.navbar-brand {
  max-width: 4rem;
  text-align: center;
}

.navbar-brand img {
  height: 4rem;
  margin-left: 4rem;
}

footer {
  background-color: #E9E3DA;
  font-family: "primary";
}