@font-face {
  font-family: "Bitch";
  src: url("/src/app/assets/Montserrat/static/Montserrat-Regular.ttf");
  font-weight: bold;
}

.navbar {
  background-color: #F4EEE5;
}

.nav {
  /* background-color: black; */
  color: white;
}

.navbar-brand {
  text-align: center;
  
  font-family: "Bitch", sans-serif;
}




.VERVEHEADER, .container {
  background-color: #F4EEE5;
  max-width: 10px;
}
